.blue-grad-btn {
  background: linear-gradient(83deg, rgba(12,75,197,1) 0%, rgba(14,92,242,1) 100%) !important;
}
.primary-text-h {
  color: #001847 !important;
}
.bg-primary-color-h {
  background-color: #001847 !important;
}
.bg-yellow-h {
  background-color: #001847 !important;
}
.bg-light-gray {
  background-color: #dde6fb !important;
}




